@use "sass:math";
@import "variables";
@import "mixins";
@import "./statements/if.scss";
@import "./statements/loops.scss";
@import "./statements/button_holder.scss";

.highlight-select {
    opacity: 0.95;
}
.highlight-delete {
    opacity: 0.85;
    color: $color_statement_bg;
}
.highlight-create {
    background-color: aqua;
}
.statement {
    color: $color_statement_text;
    box-sizing: border-box;
    position: relative;
    font-family: "Courier New", Courier, monospace;
    min-width: 10ch;
    width: 100%;
    background: $color_statement_bg;
    height: fit-content;
    margin-inline: auto;
    & .main {
        position: relative;
        padding-block-start: 0.475em;
        padding-block-end: 0.275em;
        min-height: 1em;
    }
    & > .main:hover ~ .buttons,
    .buttons:hover {
        display: flex;
    }
    > .buttons {
        @include button_drawer;
    }
    > .content {
        display: grid;
    }
    &.start,
    &.normal,
    &.skip {
        .main {
            border-block-end: $border;
            border-inline-end: $border;
            padding-inline: 1ch;
        }
        .content {
            grid-template-columns: 1fr;
        }
    }
    &.if {
        @include statement_if;
    }
    &.switch {
        @include statement_switch;
    }
    &.loop {
        @include statement_loop;
    }
    &.loop-reverse {
        @include statement_loop_reverse;
    }
}
