.statement{
    font-family: 'Courier New', Courier, monospace;
    min-width: 20ch;
    width: fit-content;
    background: coral;
    height: fit-content;
    padding-block: .5em;
    margin-inline: auto;
}