@import "../variables";
@import "../mixins";

@mixin if_indicator_false($content: " ") {
    @include render_pseudo($content);
    @include icon_background(calc(100% - $border_width * 3 + 0.075em));
    background-image: $icon_diagonal_line;
    top: math.div(-$border_width, 2);
    height: calc(100% + $border_width);
    margin-block-start: -0.025em;
    padding-block-start: 0.925em;
    padding-inline-end: 0.5ch;
    display: block;
    width: 3.5ch;
    text-align: right;
    right: 0%;
    left: unset;
}

@mixin if_indicator_true($content: " ") {
    @include if_indicator_false($content);
    transform: scaleX(-1);
    left: 0%;
    right: unset;
}

@mixin statement_if {
    width: calc(100% + $border_width);
    position: relative;
    & > .content {
        border-block-end: $border;
        border-inline-end: $border;
        margin-inline-end: -$border_width;
        padding-inline: 3.2ch;
        position: relative;
        &::before {
            @include if_indicator_true("I");
        }
        &::after {
            @include if_indicator_false("H");
        }
    }
    & > .statement-blocks {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-areas: "true false";
        justify-items: stretch;
        align-items: stretch;
        margin-block-end: calc($border_width * -2);
        //TODO Stretch Items
        & > .if-true {
            grid-area: true;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            & > .statement{
                @include border_collapse(false,true)
            }
        }
        & > .if-false {
            grid-area: false;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: stretch;
        }
    }
}

@mixin statement_switch {
    & > .main {
        display: none;
    }
    & > .sub-content {
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        align-items: stretch;
        & > .statement > .content > .statement {
            margin-block: auto;
        }
        & > .switch-if > .main::before {
            @include if_indicator_true;
        }
        & > .switch-else > .main {
            color: transparent;
            user-select: none;
            &::before {
                color: $color_statement_text;
                @include if_indicator_false("H");
            }
        }
    }
}
