@import "../_variables.scss";

@mixin statement_loop {
    display: grid;
    max-width: unset;
    grid-template-columns: 1.575em 1fr;
    grid-template-rows: fit-content fit-content fit-content;
    grid-template-areas: "head head" "empty body";
    & > .statements {
        grid-area: body;
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
        border-collapse: collapse;
        margin-inline-end: -$border_width;
        & > .statement {
            width: calc(100% + $border_width);
            min-height: calc(100% + $border_width);
            &:last-child {
                margin-block-end: -$border_width;
            }
        }
    }
    & > .content {
        grid-area: head;
        width: 100%;
    }
}

@mixin statement_loop_reverse {
    @include statement_loop;
    grid-template-areas: "empty body" "head head";
    & > .tatements > .statement {
        &:first-child {
            border-block-start: 0;
        }
        &:last-child {
            border-block-end: $border;
        }
    }
}
