@mixin icon_background($width, $height: $width) {
    background-repeat: no-repeat;
    background-size: $width;
    background-origin: padding-box;
}

@mixin render_pseudo($content: " ") {
    content: $content;
    position: absolute;
}

svg.image-indicator-stroke {
    path {
        stroke: $color_statement_border;
        stroke-width: 1.5;
    }
}

@mixin background_mask($bg, $img, $width: 100%, $height: 100%) {
    background-color: $bg;
    -webkit-mask: $img no-repeat $width $height;
    mask: $img no-repeat $width $height;
}

@mixin border_collapse($vertical: false, $horizontal: false) {
    @if ($vertical) {
        margin-block: calc($border_width * -2);
    }
    @if ($horizontal) {
        margin-inline: calc($border_width * -2);
    }
}
