@import "./variables";

.preview-handler {
    > .to-image-button {
        border: 0;
        padding: 0;
        cursor: pointer;
        font-size: 1.5em;
        background: transparent;
        position: fixed;
        right: 1rem;
        top: 0;
        > .main {
            z-index: 999 !important;
            display: block;
        }
        > .hover {
            display: none;
        }
        &:hover,
        &:focus {
            .main {
                display: none;
            }
            .hover {
                display: block;
            }
        }
    }
    .structogram-preview {
        inset: 0;
        position: fixed;
        z-index: 9999 !important;
        background: rgba(120, 120, 120, 0.284);
        & > .button-close {
            position: fixed;
            font-size: 0.9em;
            right: 1.725rem;
            top: 0.5em;
            border: 0;
            font-weight: bold;
            padding-block: 0.3em;
            padding-inline: 0.5em;
            border-radius: 0.275em;
            font-family: monospace;
            background: $color_editable_bg;
            color: $color_editable_text;
            &:hover {
                background: $color_editable_text;
                color: $color_editable_bg;
            }
        }
        .preview-canvas {
            display: flex;
            canvas {
                position: relative;
                margin-inline: auto;
                margin-block-start: 1em;
                width: unset !important;
                height: 80vh !important;
            }
        }
    }
}
