@use "sass:math";
@import "variables";
@import "mixins";
@import "./statements/if.scss";
@import "./statements/loops.scss";
@import "./statements/button_holder.scss";

.highlight-select {
    opacity: 0.95;
}
.highlight-delete {
    opacity: 0.85;
    color: $color_statement_bg;
}
.highlight-create {
    background-color: aqua;
}
.statement {
    color: $color_statement_text;
    box-sizing: border-box;
    position: relative;
    font-family: $font_structogram;
    text-align: center;
    min-width: $statement_min_width;
    max-width: $statement_max_width;
    width: calc(100% + $border_width * 2);
    background: $color_statement_bg;
    height: fit-content;
    margin-inline: auto;
    display: grid;
    grid-template-areas: "head";
    border: $border;
    margin-inline: calc($border_width * -1);
    margin-block-start: -$border_width;
    margin-block-end: calc($border_width / -4);
    &:hover:not(.switch) {
        background: $color_statement_bg_highlight;
    }
    & > .content {
        & > .editable {
            grid-area: head;
        }
    }
    & > .content:hover ~ .buttons,
    .buttons:hover {
        display: flex;
    }
    & > .buttons {
        @include button_drawer;
    }
    &.if {
        @include statement_if;
    }
    &.switch {
        @include statement_switch;
    }
    &.loop {
        @include statement_loop;
    }
    &.loop-reverse {
        @include statement_loop_reverse;
    }
}
